fastapi
uvicorn
python-multipart
python-pptx
python-docx
openpyxl
pandas
xlrd
pypdf
playwright
beautifulsoup4
faiss-cpu
numpy
groq
python-dotenv
transformers
torch
langchain-text-splitters
rank_bm25
 